## Generating the tagged training set using semi-supervised approach

### Imports

In [198]:
import pandas as pd
import os
import nltk
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import f1_score, classification_report
from bs4 import BeautifulSoup
from nltk.corpus import names,gazetteers 
from sklearn_crfsuite import CRF
from sklearn_crfsuite.metrics import flat_f1_score, flat_classification_report
import re

### Importing the validation set

In [199]:
data = pd.read_csv("./un-negated_clean_data.csv")

In [200]:
data

       Tokens       Tags  is_negative  sentence
0           I          O        False         0
1          am          O        False         0
2     looking          O        False         0
3         for          O        False         0
4           a          O        False         0
...       ...        ...          ...       ...
2345       30     B-SIZE        False       166
2346     inch     I-SIZE        False       166
2347    white   B-COLOUR        False       166
2348     desk  B-PRODUCT        False       166
2349      set  I-PRODUCT        False       166

[2350 rows x 4 columns]

### Data wrangling

In [201]:
data = data[["Tokens","Tags","sentence"]]

In [202]:
data

       Tokens       Tags  sentence
0           I          O         0
1          am          O         0
2     looking          O         0
3         for          O         0
4           a          O         0
...       ...        ...       ...
2345       30     B-SIZE       166
2346     inch     I-SIZE       166
2347    white   B-COLOUR       166
2348     desk  B-PRODUCT       166
2349      set  I-PRODUCT       166

[2350 rows x 3 columns]

#### Converting the B- Tokens to I- Tokens

In [203]:
data = data.replace('B-','I-', regex=True)

In [204]:
data

       Tokens       Tags  sentence
0           I          O         0
1          am          O         0
2     looking          O         0
3         for          O         0
4           a          O         0
...       ...        ...       ...
2345       30     I-SIZE       166
2346     inch     I-SIZE       166
2347    white   I-COLOUR       166
2348     desk  I-PRODUCT       166
2349      set  I-PRODUCT       166

[2350 rows x 3 columns]

In [205]:
data['Sentence']= data[['sentence','Tokens','Tags']].groupby(['sentence'])['Tokens'].transform(lambda x: ' '.join(x))

In [206]:
data['Tags']= data[['sentence','Tokens','Tags']].groupby(['sentence'])['Tags'].transform(lambda x: ','.join(x))

In [207]:
data = data[['Sentence','Tags']]

In [208]:
data = data.drop_duplicates().reset_index(drop=True)

In [209]:
data

,Sentence,Tags
0,I am looking for a black gloss 33 inch firecla...,"O,O,O,O,O,I-COLOUR,I-TEXTURE,I-SIZE,I-SIZE,I-P..."
1,Looking for pre workout Pump addict instead of...,"O,O,I-PRODUCT,I-PRODUCT,I-PRODUCT,I-PRODUCT,O,..."
2,i need a 48 inch glass sliding goof and a show...,"O,O,O,I-SIZE,I-SIZE,I-MATERIAL,I-PRODUCT,I-PRO..."
3,"Hello, do any of your free standing tubs have ...","O,O,O,O,O,I-ATTRIBUTE,I-ATTRIBUTE,I-PRODUCT,O,..."
4,I'm looking for a 24 inch white mirror that is...,"O,O,O,O,I-SIZE,I-SIZE,I-COLOUR,I-PRODUCT,O,O,I..."
...,...,...
162,What rectangular shower units are available?,"O,I-SHAPE,I-PRODUCT,I-PRODUCT,O,O"
163,I am looking for a 35 inch bathroom sink count...,"O,O,O,O,O,I-SIZE,I-SIZE,I-PRODUCT,I-PRODUCT,I-..."
164,I'm looking f or a Black Matte bathtub double ...,"O,O,O,O,O,I-COLOUR,I-TEXTURE,I-PRODUCT,I-PRODU..."
165,Need a 27 inch frameless shower door,"O,O,I-SIZE,I-SIZE,I-ATTRIBUTE,I-PRODUCT,I-PRODUCT"
166,Looking for 30 inch white desk set,"O,O,I-SIZE,I-SIZE,I-COLOUR,I-PRODUCT,I-PRODUCT"

### Splitting the data for a bit of validation

In [210]:
train_size = 0.95
train_dataset = data.sample(frac=train_size,random_state=200)
test_dataset = data.drop(train_dataset.index).reset_index(drop=True)

In [211]:
def strsplit_tags(tags):
    sent_list = tags.split(",")
    return sent_list

In [212]:
def strsplit_sentence(sentence):
    sent_list = sentence.split(" ")
    return sent_list

In [213]:
train_sents = []

for index, row in train_dataset.iterrows():
    train_sents.append((strsplit_sentence(row['Sentence']),strsplit_tags(row['Tags'])))

In [214]:
dev_sents = []

for index, row in test_dataset.iterrows():
    dev_sents.append((strsplit_sentence(row['Sentence']),strsplit_tags(row['Tags'])))

## Importing and wrangling knowledge bases to create features

In [215]:
colors = pd.read_csv("colors.csv")

In [216]:
colors

       air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2         alabama_crimson        Alabama Crimson  #a32638  163   38   56
3              alice_blue             Alice Blue  #f0f8ff  240  248  255
4        alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
..                    ...                    ...      ...  ...  ...  ...
859         yellow_orange          Yellow Orange  #ffae42  255  174   66
860        yellow_process       Yellow (Process)  #ffef00  255  239    0
861            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
862                zaffre                 Zaffre  #0014a8    0   20  168
863     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[864 rows x 6 columns]

In [217]:
color_list= []
for index, row in colors.iterrows():
    color_list.append(row['Air Force Blue (Raf)'])

In [218]:
products = pd.read_csv('products.csv',sep='\t')

In [219]:
product_list =[]
for index, row  in products.iterrows():
    for i in row[0].split():
        if i[-1]=='s':
            product_list.append(i[:-1])
        else:
            product_list.append(i)

In [220]:
product_list = set(product_list)

In [221]:
product_list = list(product_list)

### Feature Creation

In [222]:

import nltk


def get_pos(word):
    tag = nltk.pos_tag([word])
    return tag[0][1]

def is_number(string):
    return any(char.isdigit() for char in string)

def word2features(sentence, idx):
    word_features = {}
    word_features['word_lowercase'] = sentence[idx].lower()

    ## Features looking at the neighbouring words:
    
    if idx > 0:
        word_features["pre_word"] = sentence[idx -1].lower()
    else:
        word_features["pre_word"] = ""
    if idx < len(sentence) - 1:
        word_features["next_word"] = sentence[idx +1].lower()
    else:
        word_features["next_word"] = ""
        
    if idx > 1:
        word_features["pre2_word"] = sentence[idx -2].lower()
    else:
        word_features["pre2_word"] = ""
        
    if idx < len(sentence) - 2:
        word_features["next2_word"] = sentence[idx +2].lower()
    else:
        word_features["next2_word"] = ""
    ## Features loking at the word endings
    
    if len(sentence[idx])> 2:
        word_features["last2char"] = sentence[idx][-2:]
    else:
        word_features["last2char"] = sentence[idx]
    
    if len(sentence[idx])> 3:
        word_features["last3char"] = sentence[idx][-3:]
    else:
        word_features["last3char"] = sentence[idx]
        
    ## Features considering the shape of the word
    
    if sentence[idx].isupper():
        word_features["upper"] = True
    else:
        word_features["upper"] = False  
        
    if sentence[idx].islower():
        word_features["lower"] = True
    else:
        word_features["lower"] = False 
    
    word_features["length"] = len(sentence[idx])
    word_features["position"] = idx
    
    
    ## Extra Features:
    
    ## Is Number
    word_features["number"] = is_number(sentence[idx])
    
#     if is_number(sentence[idx]) == True:
#         word_features["num_length"] = len(sentence[idx])
#     else:
#         word_features["num_length"] = 0
    
    ##Is_Noun
    
    if get_pos(sentence[idx])== "NN":
        word_features["is_noun"] = True
    else:
        word_features["is_noun"] = False
    

#     color Feature:
    
    if sentence[idx].lower() in color_list:
        word_features["color"] = True
    else:
        word_features["color"] = False
        
#     Product Feature:
    
    if sentence[idx].lower() in product_list:
        word_features["product"] = True
    else:
        word_features["product"] = False



        
    for i in range(len(sentence)):
        if i == idx and i != 0:
            word_features['first_word_not_in_title_case'] = sentence[idx].istitle()
        elif i == idx and i == 0:
            if sentence[idx].istitle():
                word_features['first_word_not_in_title_case'] = False
    
        
    return word_features
    
    
def sentence2features(sentence):
    return [word2features(sentence, idx) for idx in range(len(sentence))]

In [223]:
def prepare_ner_feature_dicts(sents):
    '''ner_files is a list of Ontonotes files with NER annotations. Returns feature dictionaries and 
    IOB tags for each token in the entire dataset'''
    all_dicts = []
    all_tags = []
    # your code here
    for tokens, tags in sents:
        all_dicts.append(sentence2features(tokens))
        all_tags.append(tags)

    return all_dicts, all_tags

In [224]:
train_dicts, train_tags = prepare_ner_feature_dicts(train_sents)
dev_dicts, dev_tags = prepare_ner_feature_dicts(dev_sents)

### Training the CRF model

In [225]:
import sklearn_crfsuite

crf = sklearn_crfsuite.CRF(
    algorithm='lbfgs',
    c1=0.1,
    c2=0.1,
    max_iterations=350,
    all_possible_transitions=True,
    verbose = True
)
crf.fit(train_dicts, train_tags)
try:
    call_produces_an_error()
except:
    pass

loading training data to CRFsuite: 100%|██████████| 159/159 [00:00<00:00, 3302.37it/s]

Feature generation
type: CRF1d
feature.minfreq: 0.000000
feature.possible_states: 0
feature.possible_transitions: 1
0....1....2....3....4....5....6....7....8....9....10
Number of features: 5617
Seconds required: 0.015

L-BFGS optimization
c1: 0.100000
c2: 0.100000
num_memories: 6
max_iterations: 350
epsilon: 0.000010
stop: 10
delta: 0.000010
linesearch: MoreThuente
linesearch.max_iterations: 20

Iter 1   time=0.01  loss=4783.66  active=5575  feature_norm=0.50
Iter 2   time=0.00  loss=3769.24  active=5394  feature_norm=0.36
Iter 3   time=0.00  loss=3447.56  active=5395  feature_norm=0.30
Iter 4   time=0.00  loss=3328.91  active=5525  feature_norm=0.34
Iter 5   time=0.00  loss=3278.86  active=5537  feature_norm=0.35
Iter 6   time=0.00  loss=3218.45  active=5521  feature_norm=0.40
Iter 7   time=0.00  loss=3148.81  active=5522  feature_norm=0.47
Iter 8   time=0.00  loss=3035.48  active=5462  feature_norm=0.76
Iter 9   time=0.00  loss=2915.12  active=5512  feature_norm=0.85
Iter 10  time=0.00  loss=2819.18  active=5525  feature_norm=1.02
Iter 11  time=0.00  loss=2659.07  active=5538  feature_norm=1.35
Iter 12  time=0.00  loss=2429.81  active=5554  feature_norm=2.00
Iter 13  time=0.00  loss=2193.51  active=5558  feature_norm=2.72
Iter 14  time=0.00  loss=2160.84  active=5531  feature_norm=3.23
Iter 15  time=0.00  loss=2005.56  active=5578  feature_norm=3.35
Iter 16  time=0.00  loss=1971.58  active=5581  feature_norm=3.65
Iter 17  time=0.00  loss=1899.27  active=5572  feature_norm=4.01
Iter 18  time=0.00  loss=1805.82  active=5560  feature_norm=4.83
Iter 19  time=0.00  loss=1731.38  active=5558  feature_norm=5.72
Iter 20  time=0.00  loss=1621.33  active=5570  feature_norm=6.35
Iter 21  time=0.00  loss=1513.88  active=5585  feature_norm=7.38
Iter 22  time=0.00  loss=1382.12  active=5575  feature_norm=9.83
Iter 23  time=0.00  loss=1274.75  active=5583  feature_norm=11.20
Iter 24  time=0.00  loss=1185.77  active=5504  feature_norm=12.62
Iter 25  time=0.00  loss=1074.26  active=5394  feature_norm=16.10
Iter 26  time=0.00  loss=973.82   active=5408  feature_norm=17.92
Iter 27  time=0.00  loss=901.71   active=5403  feature_norm=19.03
Iter 28  time=0.00  loss=773.76   active=4813  feature_norm=22.45
Iter 29  time=0.00  loss=730.61   active=4790  feature_norm=23.49
Iter 30  time=0.00  loss=691.54   active=4735  feature_norm=24.56
Iter 31  time=0.00  loss=622.01   active=4730  feature_norm=26.68
Iter 32  time=0.00  loss=554.48   active=4711  feature_norm=29.31
Iter 33  time=0.00  loss=520.62   active=4671  feature_norm=30.98
Iter 34  time=0.00  loss=506.17   active=4673  feature_norm=31.47
Iter 35  time=0.00  loss=483.99   active=4453  feature_norm=32.40
Iter 36  time=0.00  loss=465.83   active=4455  feature_norm=32.77
Iter 37  time=0.00  loss=455.19   active=4419  feature_norm=33.85
Iter 38  time=0.00  loss=448.39   active=4436  feature_norm=34.01
Iter 39  time=0.00  loss=445.85   active=4437  feature_norm=34.08
Iter 40  time=0.00  loss=437.83   active=4226  feature_norm=34.11
Iter 41  time=0.00  loss=435.50   active=4185  feature_norm=34.22
Iter 42  time=0.00  loss=433.83   active=4122  feature_norm=34.34
Iter 43  time=0.00  loss=430.71   active=3930  feature_norm=34.55
Iter 44  time=0.00  loss=427.63   active=3870  feature_norm=34.73
Iter 45  time=0.00  loss=425.31   active=3790  feature_norm=34.91
Iter 46  time=0.00  loss=423.33   active=3792  feature_norm=34.92
Iter 47  time=0.00  loss=421.67   active=3772  feature_norm=34.93
Iter 48  time=0.00  loss=420.45   active=3711  feature_norm=34.96
Iter 49  time=0.00  loss=417.63   active=3709  feature_norm=34.95
Iter 50  time=0.00  loss=416.50   active=3684  feature_norm=34.95
Iter 51  time=0.00  loss=414.33   active=3615  feature_norm=34.95
Iter 52  time=0.00  loss=412.93   active=3578  feature_norm=34.95
Iter 53  time=0.00  loss=411.56   active=3562  feature_norm=34.94
Iter 54  time=0.00  loss=410.09   active=3520  feature_norm=34.96
Iter 55  time=0.00  loss=408.07   active=3463  feature_norm=34.98
Iter 56  time=0.00  loss=407.63   active=3437  feature_norm=34.95
Iter 57  time=0.00  loss=406.65   active=3427  feature_norm=34.99
Iter 58  time=0.00  loss=406.00   active=3414  feature_norm=34.97
Iter 59  time=0.00  loss=405.32   active=3385  feature_norm=34.98
Iter 60  time=0.00  loss=404.57   active=3347  feature_norm=34.92
Iter 61  time=0.00  loss=403.81   active=3327  feature_norm=34.90
Iter 62  time=0.00  loss=403.11   active=3304  feature_norm=34.83
Iter 63  time=0.00  loss=402.43   active=3273  feature_norm=34.78
Iter 64  time=0.00  loss=401.86   active=3249  feature_norm=34.74
Iter 65  time=0.00  loss=401.31   active=3232  feature_norm=34.72
Iter 66  time=0.00  loss=400.82   active=3222  feature_norm=34.71
Iter 67  time=0.00  loss=400.43   active=3208  feature_norm=34.71
Iter 68  time=0.00  loss=400.05   active=3203  feature_norm=34.69
Iter 69  time=0.00  loss=399.70   active=3195  feature_norm=34.68
Iter 70  time=0.00  loss=399.37   active=3188  feature_norm=34.65
Iter 71  time=0.00  loss=399.06   active=3179  feature_norm=34.65
Iter 72  time=0.00  loss=398.71   active=3163  feature_norm=34.61
Iter 73  time=0.00  loss=398.45   active=3162  feature_norm=34.58
Iter 74  time=0.00  loss=398.20   active=3163  feature_norm=34.56
Iter 75  time=0.00  loss=397.97   active=3156  feature_norm=34.54
Iter 76  time=0.00  loss=397.64   active=3134  feature_norm=34.52
Iter 77  time=0.00  loss=397.49   active=3139  feature_norm=34.51
Iter 78  time=0.00  loss=397.35   active=3135  feature_norm=34.50
Iter 79  time=0.00  loss=397.15   active=3133  feature_norm=34.48
Iter 80  time=0.00  loss=397.02   active=3114  feature_norm=34.49
Iter 81  time=0.00  loss=396.76   active=3109  feature_norm=34.46
Iter 82  time=0.00  loss=396.62   active=3108  feature_norm=34.47
Iter 83  time=0.00  loss=396.44   active=3107  feature_norm=34.47
Iter 84  time=0.00  loss=396.33   active=3094  feature_norm=34.48
Iter 85  time=0.00  loss=396.14   active=3093  feature_norm=34.46
Iter 86  time=0.00  loss=396.04   active=3101  feature_norm=34.46
Iter 87  time=0.00  loss=395.92   active=3097  feature_norm=34.46
Iter 88  time=0.00  loss=395.80   active=3086  feature_norm=34.46
Iter 89  time=0.00  loss=395.68   active=3083  feature_norm=34.45
Iter 90  time=0.00  loss=395.53   active=3080  feature_norm=34.47
Iter 91  time=0.00  loss=395.42   active=3076  feature_norm=34.47
Iter 92  time=0.00  loss=395.33   active=3077  feature_norm=34.48
Iter 93  time=0.00  loss=395.24   active=3069  feature_norm=34.47
Iter 94  time=0.00  loss=395.12   active=3067  feature_norm=34.48
Iter 95  time=0.00  loss=395.03   active=3066  feature_norm=34.47
Iter 96  time=0.00  loss=394.94   active=3071  feature_norm=34.47
Iter 97  time=0.00  loss=394.84   active=3064  feature_norm=34.47
Iter 98  time=0.00  loss=394.78   active=3065  feature_norm=34.46
Iter 99  time=0.00  loss=394.68   active=3059  feature_norm=34.45
Iter 100 time=0.00  loss=394.60   active=3055  feature_norm=34.45
Iter 101 time=0.00  loss=394.52   active=3059  feature_norm=34.45
Iter 102 time=0.00  loss=394.45   active=3060  feature_norm=34.45
Iter 103 time=0.00  loss=394.39   active=3051  feature_norm=34.44
Iter 104 time=0.00  loss=394.33   active=3050  feature_norm=34.44
Iter 105 time=0.00  loss=394.29   active=3051  feature_norm=34.44
Iter 106 time=0.00  loss=394.21   active=3053  feature_norm=34.44
Iter 107 time=0.00  loss=394.17   active=3049  feature_norm=34.44
Iter 108 time=0.00  loss=394.12   active=3048  feature_norm=34.44
Iter 109 time=0.00  loss=394.09   active=3045  feature_norm=34.44
Iter 110 time=0.00  loss=394.04   active=3042  feature_norm=34.44
Iter 111 time=0.00  loss=394.01   active=3045  feature_norm=34.45
Iter 112 time=0.00  loss=393.97   active=3044  feature_norm=34.45
Iter 113 time=0.00  loss=393.95   active=3044  feature_norm=34.45
Iter 114 time=0.00  loss=393.92   active=3047  feature_norm=34.45
Iter 115 time=0.00  loss=393.90   active=3047  feature_norm=34.46
Iter 116 time=0.00  loss=393.86   active=3049  feature_norm=34.46
Iter 117 time=0.00  loss=393.84   active=3042  feature_norm=34.46
Iter 118 time=0.00  loss=393.81   active=3036  feature_norm=34.46
Iter 119 time=0.00  loss=393.79   active=3035  feature_norm=34.46
Iter 120 time=0.00  loss=393.75   active=3032  feature_norm=34.47
Iter 121 time=0.00  loss=393.73   active=3028  feature_norm=34.47
Iter 122 time=0.00  loss=393.70   active=3030  feature_norm=34.47
Iter 123 time=0.00  loss=393.68   active=3029  feature_norm=34.47
Iter 124 time=0.00  loss=393.65   active=3029  feature_norm=34.47
Iter 125 time=0.00  loss=393.62   active=3028  feature_norm=34.47
Iter 126 time=0.00  loss=393.59   active=3028  feature_norm=34.47
Iter 127 time=0.00  loss=393.56   active=3028  feature_norm=34.48
Iter 128 time=0.00  loss=393.52   active=3030  feature_norm=34.47
Iter 129 time=0.00  loss=393.51   active=3028  feature_norm=34.48
Iter 130 time=0.00  loss=393.48   active=3029  feature_norm=34.48
Iter 131 time=0.00  loss=393.45   active=3029  feature_norm=34.48
Iter 132 time=0.00  loss=393.42   active=3024  feature_norm=34.48
Iter 133 time=0.00  loss=393.41   active=3025  feature_norm=34.48
Iter 134 time=0.00  loss=393.38   active=3023  feature_norm=34.48
Iter 135 time=0.00  loss=393.37   active=3022  feature_norm=34.48
Iter 136 time=0.00  loss=393.35   active=3021  feature_norm=34.48
Iter 137 time=0.00  loss=393.33   active=3022  feature_norm=34.48
Iter 138 time=0.00  loss=393.31   active=3020  feature_norm=34.48
Iter 139 time=0.00  loss=393.28   active=3019  feature_norm=34.47
Iter 140 time=0.00  loss=393.24   active=3024  feature_norm=34.47
Iter 141 time=0.00  loss=393.20   active=3021  feature_norm=34.47
Iter 142 time=0.00  loss=393.15   active=3021  feature_norm=34.47
Iter 143 time=0.00  loss=393.11   active=3020  feature_norm=34.47
Iter 144 time=0.00  loss=393.06   active=3014  feature_norm=34.47
Iter 145 time=0.00  loss=393.02   active=3014  feature_norm=34.46
Iter 146 time=0.00  loss=392.97   active=3007  feature_norm=34.46
Iter 147 time=0.00  loss=392.93   active=3008  feature_norm=34.46
Iter 148 time=0.00  loss=392.88   active=3012  feature_norm=34.45
Iter 149 time=0.00  loss=392.85   active=3015  feature_norm=34.45
Iter 150 time=0.00  loss=392.82   active=3012  feature_norm=34.44
Iter 151 time=0.00  loss=392.79   active=3005  feature_norm=34.44
Iter 152 time=0.00  loss=392.76   active=3004  feature_norm=34.44
Iter 153 time=0.00  loss=392.74   active=3004  feature_norm=34.44
Iter 154 time=0.00  loss=392.71   active=3007  feature_norm=34.43
Iter 155 time=0.00  loss=392.68   active=3005  feature_norm=34.43
Iter 156 time=0.00  loss=392.66   active=3004  feature_norm=34.43
Iter 157 time=0.00  loss=392.64   active=2998  feature_norm=34.42
Iter 158 time=0.00  loss=392.62   active=3000  feature_norm=34.42
Iter 159 time=0.00  loss=392.60   active=3000  feature_norm=34.41
Iter 160 time=0.00  loss=392.58   active=2998  feature_norm=34.40
Iter 161 time=0.00  loss=392.56   active=2991  feature_norm=34.40
Iter 162 time=0.00  loss=392.55   active=2988  feature_norm=34.39
Iter 163 time=0.00  loss=392.53   active=2984  feature_norm=34.38
Iter 164 time=0.00  loss=392.52   active=2980  feature_norm=34.38
Iter 165 time=0.00  loss=392.51   active=2979  feature_norm=34.37
Iter 166 time=0.00  loss=392.49   active=2982  feature_norm=34.37
Iter 167 time=0.00  loss=392.48   active=2977  feature_norm=34.37
Iter 168 time=0.00  loss=392.47   active=2976  feature_norm=34.36
Iter 169 time=0.00  loss=392.46   active=2976  feature_norm=34.36
Iter 170 time=0.00  loss=392.45   active=2973  feature_norm=34.36
Iter 171 time=0.00  loss=392.44   active=2973  feature_norm=34.35
Iter 172 time=0.00  loss=392.43   active=2977  feature_norm=34.35
Iter 173 time=0.00  loss=392.42   active=2976  feature_norm=34.35
Iter 174 time=0.00  loss=392.41   active=2977  feature_norm=34.35
Iter 175 time=0.00  loss=392.40   active=2977  feature_norm=34.35
Iter 176 time=0.00  loss=392.39   active=2978  feature_norm=34.35
Iter 177 time=0.00  loss=392.38   active=2979  feature_norm=34.34
Iter 178 time=0.00  loss=392.38   active=2982  feature_norm=34.34
Iter 179 time=0.00  loss=392.37   active=2980  feature_norm=34.34
Iter 180 time=0.00  loss=392.36   active=2980  feature_norm=34.34
Iter 181 time=0.00  loss=392.36   active=2983  feature_norm=34.34
Iter 182 time=0.00  loss=392.35   active=2981  feature_norm=34.34
Iter 183 time=0.00  loss=392.35   active=2977  feature_norm=34.35
Iter 184 time=0.00  loss=392.34   active=2975  feature_norm=34.34
Iter 185 time=0.00  loss=392.33   active=2975  feature_norm=34.34
Iter 186 time=0.00  loss=392.33   active=2975  feature_norm=34.34
Iter 187 time=0.00  loss=392.32   active=2974  feature_norm=34.35
Iter 188 time=0.00  loss=392.32   active=2973  feature_norm=34.35
Iter 189 time=0.00  loss=392.31   active=2971  feature_norm=34.35
Iter 190 time=0.00  loss=392.31   active=2971  feature_norm=34.35
Iter 191 time=0.00  loss=392.30   active=2973  feature_norm=34.35
Iter 192 time=0.00  loss=392.30   active=2970  feature_norm=34.35
Iter 193 time=0.00  loss=392.29   active=2969  feature_norm=34.35
Iter 194 time=0.00  loss=392.29   active=2970  feature_norm=34.35
Iter 195 time=0.00  loss=392.28   active=2970  feature_norm=34.35
Iter 196 time=0.00  loss=392.28   active=2970  feature_norm=34.35
Iter 197 time=0.00  loss=392.28   active=2970  feature_norm=34.35
Iter 198 time=0.00  loss=392.27   active=2968  feature_norm=34.35
Iter 199 time=0.00  loss=392.27   active=2968  feature_norm=34.35
Iter 200 time=0.00  loss=392.27   active=2968  feature_norm=34.35
Iter 201 time=0.00  loss=392.26   active=2967  feature_norm=34.35
Iter 202 time=0.00  loss=392.26   active=2967  feature_norm=34.35
Iter 203 time=0.00  loss=392.26   active=2967  feature_norm=34.35
Iter 204 time=0.00  loss=392.26   active=2965  feature_norm=34.35
Iter 205 time=0.00  loss=392.25   active=2965  feature_norm=34.35
Iter 206 time=0.00  loss=392.25   active=2966  feature_norm=34.35
Iter 207 time=0.00  loss=392.25   active=2967  feature_norm=34.35
Iter 208 time=0.00  loss=392.24   active=2967  feature_norm=34.35
Iter 209 time=0.00  loss=392.24   active=2967  feature_norm=34.36
Iter 210 time=0.00  loss=392.24   active=2967  feature_norm=34.36
Iter 211 time=0.00  loss=392.24   active=2968  feature_norm=34.36
Iter 212 time=0.00  loss=392.23   active=2968  feature_norm=34.36
Iter 213 time=0.00  loss=392.23   active=2968  feature_norm=34.36
Iter 214 time=0.00  loss=392.23   active=2967  feature_norm=34.36
Iter 215 time=0.00  loss=392.23   active=2967  feature_norm=34.36
Iter 216 time=0.00  loss=392.23   active=2967  feature_norm=34.36
Iter 217 time=0.00  loss=392.22   active=2967  feature_norm=34.36
Iter 218 time=0.00  loss=392.22   active=2967  feature_norm=34.36
Iter 219 time=0.00  loss=392.22   active=2965  feature_norm=34.36
Iter 220 time=0.00  loss=392.22   active=2968  feature_norm=34.36
Iter 221 time=0.00  loss=392.22   active=2967  feature_norm=34.36
Iter 222 time=0.00  loss=392.21   active=2967  feature_norm=34.36
Iter 223 time=0.00  loss=392.21   active=2969  feature_norm=34.36
Iter 224 time=0.00  loss=392.21   active=2969  feature_norm=34.36
Iter 225 time=0.00  loss=392.21   active=2970  feature_norm=34.36
Iter 226 time=0.00  loss=392.20   active=2971  feature_norm=34.36
Iter 227 time=0.00  loss=392.20   active=2970  feature_norm=34.36
Iter 228 time=0.00  loss=392.20   active=2970  feature_norm=34.36
Iter 229 time=0.00  loss=392.20   active=2971  feature_norm=34.36
Iter 230 time=0.00  loss=392.20   active=2971  feature_norm=34.36
Iter 231 time=0.00  loss=392.19   active=2969  feature_norm=34.36
Iter 232 time=0.00  loss=392.19   active=2969  feature_norm=34.36
Iter 233 time=0.00  loss=392.19   active=2969  feature_norm=34.36
Iter 234 time=0.00  loss=392.18   active=2968  feature_norm=34.36
Iter 235 time=0.00  loss=392.18   active=2968  feature_norm=34.36
Iter 236 time=0.00  loss=392.18   active=2969  feature_norm=34.36
Iter 237 time=0.00  loss=392.17   active=2971  feature_norm=34.36
Iter 238 time=0.00  loss=392.17   active=2971  feature_norm=34.36
Iter 239 time=0.00  loss=392.17   active=2971  feature_norm=34.36
Iter 240 time=0.00  loss=392.16   active=2971  feature_norm=34.36
Iter 241 time=0.00  loss=392.16   active=2971  feature_norm=34.36
Iter 242 time=0.00  loss=392.16   active=2971  feature_norm=34.36
Iter 243 time=0.00  loss=392.15   active=2971  feature_norm=34.36
Iter 244 time=0.00  loss=392.15   active=2970  feature_norm=34.36
Iter 245 time=0.00  loss=392.15   active=2970  feature_norm=34.36
Iter 246 time=0.00  loss=392.15   active=2970  feature_norm=34.36
Iter 247 time=0.00  loss=392.14   active=2970  feature_norm=34.36
Iter 248 time=0.00  loss=392.14   active=2971  feature_norm=34.36
Iter 249 time=0.00  loss=392.14   active=2971  feature_norm=34.36
Iter 250 time=0.00  loss=392.14   active=2970  feature_norm=34.36
Iter 251 time=0.00  loss=392.13   active=2968  feature_norm=34.36
Iter 252 time=0.00  loss=392.13   active=2967  feature_norm=34.36
Iter 253 time=0.00  loss=392.13   active=2967  feature_norm=34.36
Iter 254 time=0.00  loss=392.13   active=2966  feature_norm=34.36
Iter 255 time=0.00  loss=392.12   active=2967  feature_norm=34.36
Iter 256 time=0.00  loss=392.12   active=2967  feature_norm=34.36
Iter 257 time=0.00  loss=392.12   active=2966  feature_norm=34.35
Iter 258 time=0.00  loss=392.12   active=2967  feature_norm=34.35
Iter 259 time=0.00  loss=392.12   active=2968  feature_norm=34.35
Iter 260 time=0.00  loss=392.11   active=2967  feature_norm=34.35
Iter 261 time=0.00  loss=392.11   active=2967  feature_norm=34.35
Iter 262 time=0.00  loss=392.11   active=2966  feature_norm=34.35
Iter 263 time=0.00  loss=392.11   active=2966  feature_norm=34.35
Iter 264 time=0.00  loss=392.11   active=2966  feature_norm=34.35
Iter 265 time=0.00  loss=392.11   active=2964  feature_norm=34.35
Iter 266 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 267 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 268 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 269 time=0.00  loss=392.10   active=2963  feature_norm=34.35
Iter 270 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 271 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 272 time=0.00  loss=392.10   active=2964  feature_norm=34.35
Iter 273 time=0.00  loss=392.10   active=2963  feature_norm=34.35
Iter 274 time=0.00  loss=392.09   active=2964  feature_norm=34.35
Iter 275 time=0.00  loss=392.09   active=2964  feature_norm=34.35
Iter 276 time=0.00  loss=392.09   active=2965  feature_norm=34.35
Iter 277 time=0.00  loss=392.09   active=2965  feature_norm=34.35
Iter 278 time=0.00  loss=392.09   active=2965  feature_norm=34.35
Iter 279 time=0.00  loss=392.09   active=2964  feature_norm=34.35
Iter 280 time=0.00  loss=392.09   active=2964  feature_norm=34.35
Iter 281 time=0.00  loss=392.09   active=2964  feature_norm=34.35
Iter 282 time=0.00  loss=392.09   active=2963  feature_norm=34.35
Iter 283 time=0.00  loss=392.08   active=2963  feature_norm=34.35
Iter 284 time=0.00  loss=392.08   active=2963  feature_norm=34.35
Iter 285 time=0.00  loss=392.08   active=2961  feature_norm=34.35
Iter 286 time=0.00  loss=392.08   active=2959  feature_norm=34.35
Iter 287 time=0.00  loss=392.08   active=2959  feature_norm=34.35
Iter 288 time=0.00  loss=392.08   active=2958  feature_norm=34.35
Iter 289 time=0.00  loss=392.08   active=2959  feature_norm=34.35
Iter 290 time=0.00  loss=392.07   active=2959  feature_norm=34.35
Iter 291 time=0.00  loss=392.07   active=2959  feature_norm=34.35
Iter 292 time=0.00  loss=392.07   active=2958  feature_norm=34.35
Iter 293 time=0.00  loss=392.07   active=2957  feature_norm=34.35
Iter 294 time=0.00  loss=392.07   active=2957  feature_norm=34.35
Iter 295 time=0.00  loss=392.07   active=2956  feature_norm=34.35
Iter 296 time=0.00  loss=392.07   active=2956  feature_norm=34.35
Iter 297 time=0.00  loss=392.07   active=2956  feature_norm=34.36

In [226]:
def flatten(l):
    result = []
    for sub in l:
        result.extend(sub)
    return result

y_pred = crf.predict(dev_dicts)
print(f1_score(flatten(dev_tags), flatten(y_pred), average='macro'))
print(f1_score(flatten(dev_tags), flatten(y_pred), average='micro'))
print(classification_report(flatten(dev_tags), flatten(y_pred)))

0.5378450817475208
0.79375
              precision    recall  f1-score   support

 I-ATTRIBUTE       0.13      0.40      0.20         5
    I-COLOUR       1.00      0.11      0.20         9
  I-MATERIAL       1.00      1.00      1.00         1
     I-PRICE       0.00      0.00      0.00         1
   I-PRODUCT       0.87      0.50      0.63        26
      I-SIZE       0.71      1.00      0.83         5
           O       0.87      0.93      0.90       113

    accuracy                           0.79       160
   macro avg       0.65      0.56      0.54       160
weighted avg       0.84      0.79      0.79       160

/opt/miniconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Tagging and Generating the training set

In [227]:
from re import search, sub
    
def sentence2iob(sentence):
    global count
    '''Input sentence is a string from the Ontonotes corpus, with xml tags indicating named entities
    output is a list of tokens and a list of NER IOB-tags corresponding to those tokens'''
    
    tokens=[]
    tags=[]

    soup = BeautifulSoup(sentence, "lxml")
    if soup.find('doc'):
        return tokens, tags
    
    if not soup.find('enamex'):
        words = soup.getText().split()
        for word in words:
            tokens.append(word)
            tags.append('O')

    else:
        for content in soup.find(soup.enamex.parent.name).contents:
            if content.name == 'enamex':
                tag = content['type']
                entity = content.getText().split()

                for i in range(len(entity)):
                    if i == 0:
                        tags.append("B-" + tag)
                        tokens.append(entity[i])
                    else:
                        tags.append("I-" + tag)
                        tokens.append(entity[i])
            
            else:
                for word in content.split():
                    tokens.append(word)
                    tags.append('O')

    return tokens, tags

In [228]:
test_sents = []
with open('Hey_train.txt', encoding="utf-8") as f:
    for sentence in f:
        curr_tokens, curr_tags = sentence2iob(sentence)
        assert "" not in curr_tokens # if you have empty strings, you've done something wrong
        test_sents.append((curr_tokens, curr_tags))
            
test_dicts, test_tags = prepare_ner_feature_dicts(test_sents)
test_pred = crf.predict(test_dicts)
test_pred = flatten(test_pred)

In [229]:
words =[]
sentence_index =[]
sent_count =0
for i in test_sents:
    for j in i[0]:
        words.append(j)
        sentence_index.append(sent_count)
    sent_count += 1

In [230]:
import csv
rows = zip(sentence_index,words, test_pred)
with open('Heyday_trainingdata.csv', "w") as f:
    writer = csv.writer(f)
    writer.writerow(('Sentence_Index','Tokens','Tags'))
    for row in rows:
        writer.writerow(row)